:root
{
    --available:  rgb(165, 220, 165);
    --not-available: rgb(220, 133, 133);
    --tentative: rgb(226, 202, 148);
}

.your-calendar, .shared-calender
{
    width: 100%;
}

.rbc-calendar
{
    background-color: var(--background-colour);
    padding: 10px;
    width: 100%;
    border: 3px solid var(--primary-colour);
}

.rbc-toolbar button
{
    background-color: var(--primary-colour);
    color: var(--background-colour);
    padding: 10px;
    margin-right: 15px;
    font-size: 1.2rem;
    border-radius: 0;
}

.rbc-today
{
    background-color: transparent !important;
    outline-color: var(--accent-colour) !important;;
}

.rbc-toolbar button:hover, .rbc-toolbar button:focus
{
    background-color: var(--primary-colour);
    color: var(--background-colour);
    transform: none;
}

.rbc-header
{
    border-bottom: none;
    border: none !important;
}

.rbc-month-view
{
    border: none !important;
}

.rbc-month-header
{
    margin-bottom: 10px;
}

.rbc-month-row
{
    border-top: none !important;
    flex: 0 0 !important;
    min-height: clamp(40px, 11.585vw, 110px);
    justify-content: center;
}

.rbc-toolbar .rbc-toolbar-label
{
    text-align: end;
}

.rbc-day-bg
{
    cursor: pointer;
    border: none !important;
    outline: 3px solid var(--primary-colour);
    outline-offset: 0px;
    margin: 10px;
    background-clip: padding-box;
}

.grey-out
{
    cursor: auto;
}

.rbc-row-content
{
    height: 100%;
    position: relative;
    pointer-events: none;
}

.rbc-row-content .rbc-row
{
    height: 100%;
}

.rbc-date-cell
{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    pointer-events: none;
}

.rbc-day-bg.grey-out
{
    cursor: auto;
    outline-color: grey;
}

.rbc-button-link
{
    box-shadow: none;
    pointer-events: none;
}

.rbc-btn-group {
    padding-left: 10px;
}

.rbc-calendar
{
    width: 100%;
    margin-bottom: 20px;
}

.rbc-toolbar
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cancel-reason input
{
    width: 100%;
}

.selected-date
{
    transition: all 0.1s ease-in-out;
    outline-width: 6px;
    outline-color: var(--primary-colour) !important;
    transform: inherit;
    opacity: 1 !important;
}

.grey-background
{
    background-color: rgba(128, 128, 128, 0.455) !important;
}



@keyframes flash 
{
    0% {
        outline-color: var(--primary-colour); 
    }
    50% { 
        outline-color: rgba(255, 222, 139, 0);
    }
    100% { 
        outline-color: var(--primary-colour);
    }
    
}

.cancel-reason .button-container
{
    margin-top: 20px !important;
}

.rbc-off-range-bg
{
    background-color: transparent;
    opacity: 0.5;
}

.not-available-date
{
    background-color: var(--not-available) !important;
}

.available-date
{
    background-color: var(--available) !important;
}

.tentative-date
{
    background-color: var(--tentative) !important;
}

.your-calender-bottom
{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.legend
{
    display: flex;
    gap: 20px;
}

.legend-item
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.legend-color
{
    width: 25px;
    height: 25px;
    border: 3px solid var(--primary-colour);
}

.legend-item.available .legend-color
{
    background-color: var(--available) !important;
}

.legend-item.not-available .legend-color
{
    background-color:var(--not-available) !important;
}

.legend-item.tentative .legend-color
{
    background-color: var(--tentative) !important;
}

.selected-dates
{
    margin-top: 0px;
    margin-bottom: 20PX !important;
}

.shared-calender .button-container
{
    justify-content: flex-end;
    margin-top: 0;
}

.attendee-availability-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.attendee-availability-list-item .entry
{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    overflow: hidden;
}

.availability-group-container
{
    display: flex;
    width: 100%;
    gap: 20px;
}

.availability-group
{
    flex: 1;
}

.section.reminder {
    display: flex;          
    flex-wrap: wrap;         
    gap: 16px;               
}

.section.reminder > * {
    flex: 1 1 calc(33.333% - 16px); 
    box-sizing: border-box;        
}
.section.reminder h3
{
    margin: 0;
}

.section.reminder .button-container
{
    align-items: flex-start;
}

.reminder .reminder-count
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reminder .date-selection
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.your-calender-bottom .button-container
{
    margin-top: 0px !important;
    justify-content: flex-end;
}

.shame-list-items
{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.shame-list-items .profile
{
    gap: 15px !important;
}

.shame-info
{
    width: fit-content;
}

.shame-you, .shame-info
{
    text-wrap: nowrap;
    word-wrap: nowrap;
}

.shame-info .created-at
{
    margin: 0 !important;
    color: var(--accent-colour);
}

.shame-info
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
    max-width: 180px;
}

.shame-info strong
{
    overflow: hidden;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    width: fit-content;
    max-width: 180px;
}

.shame-list h3
{
    margin: 0;
}

.rbc-button-link
{
    font-size: clamp(10px, 2.5vw, 24px);
}

.rbc-toolbar .rbc-toolbar-label
{   
    flex-grow: 1;
}

.shame-you
{
    border-bottom: 3px solid var(--accent-colour);
    width: fit-content !important;
    padding: 0px 2px ;
    text-wrap: nowrap;
    text-overflow: ellipsis !important;
}

.rbc-toolbar 
{
    flex-direction: row !important;
    flex-wrap: nowrap;
}

@media (max-width: 714px) {

    .selected-date
    {
        outline-width: 4px !important;
    }

    .section.reminder
    {
        margin-top: 40px;
    }

    .reminder .date-selection
    {
        justify-content: flex-end;
    }

    .section.reminder .reminder-count
    {
        flex-grow: 0;
        min-width: 100px;
    }

    .section.reminder 
    {
        gap: 10px;
        flex-direction: column;
    }

    .section.reminder .button-container
    {
        margin-top: 20px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .section.reminder .button-container button
    {
        width: fit-content !important;
        margin-top: 0px !important;
        flex: 0 0 !important;
    }

    .rbc-calendar
    {
        padding: 0;
    }

    .rbc-month-row
    {
        min-height: clamp(45px, 11.585vw, 90px) !important;
    }

    .rbc-toolbar
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .rbc-btn-group 
    {
        margin-right: auto;
    }

    .rbc-btn-group button
    {
        padding: 5px 5px;
        font-size: 1rem !important;
        margin-right: 5px;
    }

    .rbc-row-content
    {
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
    }

    .rbc-row-content .rbc-row
    {
        display: flex;
        gap: 0px;
    }

    .rbc-button-link
    {
        font-size: clamp(12px, 3vw, 24px);
    }

    .rbc-day-bg
    {
        margin: 5;
    }
}

.rbc-row-content {
    pointer-events: none;
}


@media (max-width: 950px) {

    .legend
    {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .legend-item
    {
        flex-direction: row;
    }

    .your-calender-bottom
    {
        flex-direction: row;
        gap: 10px;
    }
    .your-calender-bottom .button-container
    {
        margin-top: 0px !important;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }

    .your-calender-bottom .button-container button
    {
        width: fit-content;
    }
}

@media (max-width: 850px) {

    .shared-calender .button-container
    {
        justify-content: space-between;
    }

    .shared-calender .button-container button
    {
        flex: 1 1;
    }

}

@media (max-width: 715px) {

    .shared-calender .button-container .change-button
    {
       display: none;
    }

    .shared-calender .button-container
    {
        justify-content: flex-end;
    }

    .shared-calender .button-container button
    {
        width: fit-content !important;
        flex: 0 0 !important;
    }

    .shame-list-items {
        display: grid;
        
    }

    .shame-list-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
        gap: 20px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    
    .shame-list-items .profile {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .shame-list-items .profile strong
    {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}