/* CreateEvent.css */

.create-event-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding-top: 0;
}

.create-event-container h1 {
    font-size: 4rem;
    margin-bottom: 5px;
    width: 100%;
    text-align: start;
}

.create-event-container form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.create-event-container .button-container
{
    display: flex;
    justify-content: space-between;
}

.create-event-container .button-container p
{
    margin: 0;
    text-align: center;
    line-height: 50px;
    color: rgb(255, 123, 0) !important;
}

.create-event-container form button
{
    height: 50px;
    font-size: 1rem;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;

}

.create-event-container label {
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
    text-align: start;
    display: block;
}

.create-event-container input,
.create-event-container textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.create-event-container textarea {
    resize: vertical;
    height: 100px;
}


.create-event-container button:disabled
{
    opacity: 0.4;
    cursor:auto;
}

.create-section
{
    padding-top: 25px;
    margin-bottom: 25px;
}

.create-section:first-child {
    border-top: none;
}
  

.one-line-input
{
    display: flex;
    gap: 20px;
}

.one-line-input div
{
    flex: 1;
}

.control-button
{
    width: 40px;
    padding: 0;
    box-shadow: none;
}

.control-button .fire
{
    width: 100%;
}

.control-button .next
{
    width: 100%;
    transform: rotate(90deg);
}

.control-button .back
{
    width: 100%;
    transform: rotate(-90deg);
}

.create-event-container .button-container
{
    margin-top: 0;
    justify-content: space-between;
}

.one-line-bottom
{
    display: flex;
}

.duration
{
    width: 180px;
    flex: 0 0 !important;
    min-width: 140px;
}

.create-buttons
{
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

@media (max-width: 714px) {

    .create-event-container h1
    {
        font-size: 3rem;
    }

    .one-line-input.swap
    {
        flex-direction: column;
        gap: 0;
    }
    .create-event-container form button
    {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }


    .create-event-container .button-container
    {
        flex-direction: column;
        gap: 10px;
    }

    .create-section
    {
        padding-top: 0;
        margin-bottom: 20px;
    }

    .duration
    {
        width: 100%;
        flex: 1;
        min-width: 0;
    }

    .create-event-container .one-line-input
    {
        flex-direction: column;
        gap: 0;
    }

    .create-event-container .one-line-bottom
    {
        flex-direction: column;
        gap: 0;
    }

    .create-event-container .section
    {
        padding: 0;
        margin-top: 0;
        border: none;
    }

    .create-buttons
    {
        margin: 0;
        margin-top: 20px;
        gap: 20px;
    }
}