.event
{
    width: 100%;
}

.event-top-line
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
}

.event-top-line div
{
    width: 100%;
    word-break: break-word;
    text-wrap: break-word;
}

.top-line
{
    display: flex;
    gap: 10px;
}

.event-top-line h1
{
    margin: 0;
    font-size: 3.6rem;
}

.top-line h2
{
    font-size: 3rem;
}

.section
{
    position: relative;
    border: 3px solid var(--primary-colour);
    padding: 30px;
    margin-bottom: 30px;
}

.event-confirmed strong
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.panels {
    width: 100%;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    position: relative;
}

.event-panel {
    position: relative;
    height: 100px; /* Match this to your mask-image blocks */
    outline: 3px solid var(--primary-colour);
    background-color: transparent;
    z-index: 2;
    box-sizing: border-box;
}

.event-panel:hover
{
    outline-color: var(--accent-colour);
    outline-width: 6px;
}

.panels .event-panel > * {
    position: absolute; /* Make sure the content inside is positioned correctly */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the content */
}

.panels .event-panel .event-panel-button
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.event-panel-button span
{
    display: flex;
    gap: 10px;
}

.event-panel-button img, .section-icon
{
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.event-panel-button h2
{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-colour);
}

.event-panel-button p
{
    font-size: 1rem;
    color: var(--primary-colour);
}

.logout-button
{
    position: relative;
    font-weight: bold;
    box-shadow: none;
    padding: 0;
}

.logout-button img
{
    height: 40px;
    width: 40px;
}

.back-button
{
    box-shadow: none;
    width: 30px;
    padding: 0;
    background-color: transparent;
}

.try-again
{
    font-size: 1rem;
}

.back-button img
{
    width: 100%;
}

.notifcation-circle
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(226, 113, 113);
    position: absolute;
    top: 9;
    right: 9;
    color: var(--background-colour);
    font-size: 0rem;
}

.notifcation-circle-comment
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(226, 113, 113);
    position: absolute;
    top: -3;
    right: -3;
    color: var(--background-colour);
    font-size: 0rem;
    transition: all 0.3s ease;
}


.bottom-line
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.comment-button
{
    position: relative;
    width: 70px;
    height: 70px;
    outline: none;
    padding: 10;
    box-shadow: none;
}

.comment-button .notifcation-circle
{
    top: 5;
    right: 5;
}


.comment-button img
{
    width: 100%;
}


.event-panels-mask {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}
  
  /* .event-panels-mask::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/svgs/pattern.svg");
    background-position: right center;
    background-size: cover;
    background-repeat: repeat;
    z-index: -1;
    opacity: 1;
  
    mask-image: 
    linear-gradient(to right, transparent 30%, rgb(0, 0, 0) 100%),
    repeating-linear-gradient(to bottom,
        black 0, black 100px,
        transparent 100px, transparent 120px
      );
  
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
  
    mask-size: 100% 100%, 100% 100%, 100% 120px;
    mask-repeat: no-repeat, no-repeat, repeat;
  }
   */ 

   .attendee-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .attendee-list .profile {
    width: 150px;
    text-align: center;
}

.attendee-list .profile p
{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attendee-list .profile .is_coming
{
    margin: 0 !important;
}

 @media (max-width: 714px) {



    .event-panels-mask
    {
        gap: 30px;
    }

    .top-line h2 {
        font-size: 2rem;
    }

    .event
    {
        padding-bottom: 30px;
    }
}

.confirm-page-buttons
{
    margin-top: 10px;
}

.count-down
{
    margin-top: 20px !important;
}