

.home-page 
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.home-page h1
{
    font-size: 5rem;
    max-width: 700px;
    margin: 0;
}

@media (max-width: 1000px ) {
    .home-page h1
    {
        max-width: 600px;
    }
}

.home-page input
{
    width: 500px;
    border: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 12px;
}

.cat-right
{
    position: fixed;
    right: 0px;
    top: 180px;
    animation: slide-in 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes slide-in
{
    0% {
        opacity: 1;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.home-cta
{
    margin-top: 40px;
    font-size: 1rem !important;
}

.home-buttons
{
    display: flex;
    gap: 10px;
}

.home-cta img
{
    position: absolute;
    height: 30px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    left: 10;
}

.button-container {
    display: flex;
    gap: 15px; /* Space between buttons */
    justify-content: center; /* Center align */
    margin-top: 40px;
}

.home-section {
    margin-top: 100px;
}


.cat-bottom {
    position: fixed;
    top: 550px;
    left: -148px;
    opacity: 0;
    transform: rotate(90deg);
    animation: slide-up 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}

@keyframes slide-up {
    0% {
        opacity: 1;
        transform: rotate(90deg) translateY(50%);
    }
    100% {
        opacity: 1;
        transform: rotate(90deg) translateY(0);
    }
}

.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

@media (max-width: 714px) {

    .home-page h1
    {
        font-size: 3rem;
    }
    .home-cta
    {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 1000px) {
    .home-page h1 b.underline
    {
        background: none;
    }
}
