.add-link-form
{
}

.links
{
    width: 100%;
}

.add-link-form .add-link {
    display: flex;
    align-items: stretch; /* Align input and button */
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.add-link div {
    flex: 1;
    min-width: 0; /* 👈 Prevent overflow by allowing shrinking */
}

.add-link button
{
    height: 50px;
}

.add-link-form input
{
    width: 100%;
    display: block;
}

.invite-link-qr-code
{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.invite-link-qr-code a
{
    height: fit-content;
    color: var(--accent-colour);
}

.invite-link-qr-code div
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.invite-link-qr-code button
{
    width: fit-content;
}

.invite-link-qr-code .qr
{

    outline: 3px solid var(--primary-colour);
    outline-offset: 6px;
}

.links .section h2
{
    margin-top: 0;
}

.link-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.link-item div {
    flex: 1;
    min-width: 0; /* 🔑 Allows text to wrap or truncate instead of growing infinitely */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link-item div a
{
    margin: 0;
    color: var(--accent-colour);
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    text-wrap: break-word;
    max-height: 40px;
    text-overflow: ellipsis;
}

.link-list ul
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.link-list h3
{
    margin-top: 0;
}

@media (max-width: 500px) {

    .invite-link-qr-code
    {
        flex-direction: column;
        gap: 20px;
    }
    .qr
    {
        width: 100% !important;
        height: 100% !important;
        padding: 50px;
        box-sizing: border-box;
        outline-offset: -40px !important;
    }
}

.link-list ul
{
    width: 100%;
}

.link-item button img
{
    height: 100%;
}

.link-item small
{
    display: flex;
    text-wrap: nowrap;
    gap: 5px;
}

.link-item .name
{
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 30px;
}

.link-item{
    width: 100%;
    flex: 1;
    align-items: flex-end;
}

.link-item div
{
    padding-right: 10px;
    box-sizing: content-box;
    width: 100%;
}

.add-link input
{
    padding-right: 90px !important;
}