
.login-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    word-break: break-word;
    text-wrap: break-word;
}

.login-form h1
{
    font-size: 3rem;
    text-align: start;
}

.login-form form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.username-form .profile-selector
{
    grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
}


.username-form
{
    width: 100%;
}

.username-form .one-line-input
{
    flex-direction: column;
}

.username-form .one-line-input input
{
    width: 100%;
}

.login-inputs
{
    display: flex;
    gap: 10px;
}

.login-inputs button
{
    padding: 0px 20px;
    font-size: 1rem;
}

.login-form form input
{
    width: 100%;
}

.username-form form input
{
    width: 300px;
}

.username-form .one-line-input div
{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.username-form .one-line-input{
    margin-bottom: 20px;
}

.username-form .one-line-input button{
    text-wrap: nowrap;
    font-size: 1rem;
    height: 50px;
    margin-top: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.username-form form label
{
    width: 100%;
}

.login-form form .login
{
    width: 50px;
    padding: 0;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.login-form form .login img
{
    width: 100%;
    padding: 0;
}

.username-form form
{
    margin-top: 30px;
}

.username-form .top-line {
    margin-bottom: 20px;
}


@media (max-width: 714px)
{
    .login-form h1
    {
        font-size: 2rem;
    }
}