.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    color: white;
}

.nav-links {
    display: flex;
    gap: 18px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    transition: transform 0.3s ease;
    position: relative;
}

.nav-item.active
{
    outline: 3px solid var(--accent-colour);
    border-radius: 50%;
}

.nav-item:hover:not(.active) {
    transform: scale(1.05);
}

.nav-item.active:hover{
    cursor:not-allowed;
}
.nav-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

@media (max-width: 650px) {
    .event-links{
        display: none;
    }
    
}

.nav-item
{
    opacity: 0;
    animation: fly-down 1s ease-out, opacity-change 1s forwards;
}

@keyframes fly-down {
    0%
    {
        transform: translateY(-135px);
    }
    70%
    {
        transform: translateY(10px);
    }
    100%
    {
        transform: translateY(0);
    }
}

@keyframes opacity-change {
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 1;
    }
    
}