.notification-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.notification
{
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--background-colour);
    border: 2px solid var(--primary-colour);
    animation: fly-up 0.3s ease-in-out forwards;
}

@keyframes fly-up
{
    0%
    {
        transform: translateY(100%);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
    
}