.notification-container
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    width: 0;
    height: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.notification
{
    position: relative;
    text-wrap: nowrap;
    right: 30px;
    bottom: 30px;
    padding: 10px 20px;
    background-color: var(--background-colour);
    border: 2px solid var(--primary-colour);
    animation: fly-up 0.3s ease-in-out forwards;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

@keyframes fly-up
{
    0%
    {
        transform: translateY(100%);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes fly-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
.notification.exiting {
    animation: fly-out 0.3s ease-in-out forwards;
}

.notification-load-container
{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.742);
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    animation: fade-in 0.3s ease-in-out forwards;
    z-index: 100;
}

.notification-load-container.exiting
{
    animation: fade-out 0.3s ease-in-out forwards;
}

.notification-load
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.notification-load p
{
    color: white
}

.popup-overlay
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.731);
    z-index: 1000;
}

.popup-content
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-colour);
    outline: 7px solid var(--primary-colour);
    padding: 20px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fly-in 2s ease-in-out forwards;
}

@keyframes fly-in
{
    0%
    {
        transform: translate(-50%, 200%);
    }
    100%
    {
        transform: translate(-50%, -50%);
    }
    
}

.popup-content h2
{
    margin: 8px 0px;
    font-size: 2rem;
    color: var(--primary-colour);
}

.popup-content .button-container
{
    margin-top: 10px;
}

.popup-extra-cancel
{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--accent-colour);
}

@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
    
}

@keyframes fade-out
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
    
}


@media (max-width: 714px) {
    .notification-container {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0px;
      align-items: center; /* Make sure notifications stack in the middle */
      justify-content: center;
    }
  
    .notification {
      position: absolute;
      display: block;
      top: 0;
      animation: fly-down 0.3s ease-in-out forwards;
      left: 50%;
      padding: 20px 10px;
      transform: translateX(-50%);
      height: fit-content;
      width: fit-content;
      min-width: 80vw;
      box-sizing: border-box;
      border-width: 4px;
    }
    .notification.exiting {
        display: none;
    }
  }
  

@keyframes fly-down
{
    0%
    {
        transform: translate(-50%, -140px);
    }
    100%
    {
        transform: translate(-50%, 30px);
    }
    
}

@media (max-width: 714px) {

    .popup-content
    {
        width: 65vw;
        height: fit-content;
        overflow-y: auto;
    }

    .popup-content h2
    {
        font-size: 1.5rem;
    }

    .popup-content img
    {
        width: 150px;
        height: 150px;
    }
}