
.create-poll
{
    display: flex;
    flex-direction: column;
}

.create-poll textarea
{
    width: 100%;
    height: 50px;
    margin-bottom: 0;
}

.priority-and-buttons
{
    flex-direction: row !important;
    margin-top: 10px;
}

.priority-and-buttons div
{
    margin-bottom: 0 !important;
    width: 100%;
}

.priority-and-buttons button
{
    font-size: 1rem;
    margin-top: auto;
    height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.poll-input-container
{
    position: relative;
    width: 100%;
}

.poll-input-container input
{
    padding-right: 80px;
    width: 100%;
}

.poll-input-container textarea
{
    width: 100%;
}

.show-more-polls
{
    margin-top: 20px;
}

.poll-input-container textarea
{
    padding-bottom: 70px;
    overflow: hidden;
}

@media (max-width: 400px) {
    .poll-input-container textarea
    {
        padding-bottom: 80px;
    }
}

.poll-option button p
{
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.character-counter
{
    position: absolute;
    right: 10px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.character-counter-bottom
{
    position: absolute;
    right: 10px;
    margin: 0;
    bottom: 10px;

}

.poll-form
{
    margin-top: 50px;
}

.polls
{
    width: 100%;
}

.poll.section h2
{
    margin: 0;
    text-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.poll.section h3
{
    text-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    opacity: 0.8;
}

.poll-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.poll
{
    position: relative;
    margin-bottom: 0px !important;
}

.poll-delete-made-by
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.poll-delete-made-by p
{
    margin: 0;
    line-height: 37px;
}


.pending-poll-chosen
{
    position: absolute;
    height: 100%;
    width: auto;
    right: 10px;
    padding: 3px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    margin: 0;
    font-size: 23px;
}

.poll .button-container
{
    margin-top: 20px;
    justify-content: flex-end;
}

.creator-info
{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.create-poll div
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.poll-options
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.poll-option
{
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    border: 3px solid var(--primary-colour)
}

.vote-count
{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.button-filler {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 0; 
    transition: width 0.3s ease-in-out;
    z-index: 1;
}

.button-filler.voted
{
    background-color: var(--accent-colour)
}

.poll-option button
{
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    text-align: start;
    color: var(--primary-colour);
    background: transparent;
    position: relative;
    height: 39px;
}

.poll-option button:disabled
{
    opacity: 1 !important;
}

.poll-option button p
{
    z-index: 1;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}

.top-line-polls
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-line-polls span
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-line-polls span p
{
}

.toggle-unanswered-polls
{
    width: 40px;
    padding: 5px 5px;
}

.priority-level
{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: var(--accent-colour);
    color: var(--background-colour);
    font-size: 2rem;
    margin: 0;
    padding: 2px 3px;
}

.priority-level span
{
    height: 20px;
}

.priority-level span img
{
    width: 20px;
    height: 20px;
}

.option-field
{
    margin-top: 10px;
    margin-bottom: 5px !important;
    flex-direction: row !important;
}

.option-field input
{
    width: 100%;
}

.option-field button
{
    height: 50px;
    border: 3px solid var(--primary-colour);
}

.show-more-less-buttons
{
    display: flex;
    gap: 10px;
}


@media (max-width: 714px) {

    .poll
    {
        margin-bottom: 30px !important;
    }

    .create-poll div
    {
        margin-bottom: 25px;
    }
    .priority-and-buttons
    {
        margin-top: 20px;
    }

    .poll.section .button-container button:last-child
    {
        margin-left: auto;
    }
}