
.profile-selector {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 15.5px;
    outline: 3px solid var(--primary-colour);
    margin-top: 10px;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.profile-selector-image
{
    height: 100%;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
}

.profile-option {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
  }


.profile-option.selected
{
    opacity: 1;
    background-color: var(--accent-colour);
}
