
.settings{
    width: 100%;
}

.settings h3
{
    margin: 0;
    margin-bottom: 20px;
}

.settings-input
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin-bottom: 20px;
}

.settings-input textarea
{
    margin: 0;
}

.settings .one-line-input p
{
    display: flex;
    flex: 1;
    margin: 0;
}

.settings-profile-input .profile-selector .profile-option
{
    min-width: 52px !important;
}

.settings .button-container
{
    justify-content: right;
    margin-top: 0px;
}

.settings-buttons-event .button-container
{
    margin-top: 0px;

}

.settings-buttons-event 
{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.delete-event, .leave-event
{
    background-color: var(--accent-colour) !important;
}

.settings-buttons-user
{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.settings-profile-input .profile-selector .profile-option 
{
    min-width: 59px !important;
}

@media (max-width: 500px) {
    .settings-buttons-user
    {
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }   

    .settings-buttons-user .button-container
    {
        width: 100%;
    }

    .settings-buttons-user button
    {
        width: 100%;
    }
}

@media (max-width: 714px) {

    .settings .one-line-input
    {
        flex-direction: column;
        gap: 0;
    }

    .settings .button-container
    {
        flex-direction: row;
    }

    .settings-buttons-event
    {
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }
}