.to-do
{
    width: 100%;
}


.task-section ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.add-task
{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    gap: 15px;
}

.to-do-creator
{
    font-weight: bold;
}

.to-do-input-container input
{
    flex: 1;
    display: block;
    width: 100%;
    padding-right: 70px;
}

.task
{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.add-task button
{
    height: 50px;
}

.task-section .button-container
{
    margin-top: 0;
    gap: 10px;
}

.task-section li
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
}

.dotted
{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
}

.dotted .line
{
    display: block;
    width: 100%;
    border-top: 5px dashed var(--primary-colour);
    opacity: 0.1;
}

.to-do-profile
{
    font-size: 1rem;
    align-items: center;
    display: flex;
    gap: 10px;
}

.to-do-input-container
{
    position: relative;
    width: 100%;
}

.task-length
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

@media (max-width: 650px) {
    .task-section .profile
    {
        display: none;
    }

    .add-task, .add-link
    {
        flex-direction: column;
    }

}